{% extends "layout.html" %}

{% block content %}

    <p>&nbsp;</p>
    <h2>About the project</h2>
    <p>&nbsp;</p>
    <p>
            Humans are social beings and we love to spend valuable time with the people that we love. The most important thing about the past to remember it. 
            Unfortunately, human memory is limited and need help to remember past events. Photos are a great way to remember past experiences and the places we have being.
             For that reason, the goal of this project is to design an website that will be able to store pictures, and decode where the image was taken. 
    </p>  
    <p> 
            The final product will let the user to create an account, see all the picture that he/she took and identify the location from the map. 
            Due to time constraints, the first release of the application, will only let the user upload their photos, decode the image’s location and display a map where the user will see where the image was taken. 
        </p>     
   
        
{% endblock content %}