{% extends "layout.html" %}

{% block content %}

    <p>&nbsp;</p>
    <p>
        Software developement is complicated. But is it even more difficult when projects are handled by multiple people in different timeframes. 
        For tha reason is important to have some documentation, other people can understand, maintiain and develop more features for the application.

    </p>
    <p ><strong>Please click the link to download Documentation related to the project:  </strong></p>
        
    <a href=  "https://github.com/alej96/CodingChallengeEVT/raw/alejandro-master/documentation/Documenation_ImageLocatorApp.pdf" download>Download Documentation File</a>
  
    
{% endblock content %}