{% extends "layout.html" %}

{% block content %}
    <!-- create dropzone box -->
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 5px dashed #1000f7; margin: 10%; min-height: 450px;') }}
    <p>&nbsp;</p>
    <h3 style="text-align: center;"><span style="text-decoration: underline;">
        <strong>Welcome to the Image Locator App</strong></span></h3>
    <p>&nbsp;</p>
    <p ><strong>Please upload your images below:  </strong></p>
        

    {{ dropzone.create(action_view='index') }}
    {{ dropzone.load_js() }}
    {{ dropzone.config() }}

    
{% endblock content %}